* {
    padding: 0;
    margin: 0;
}

.ip-header {
    height: max-content;
    background: black;
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #B8BCCC80;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding-top: 50px;
    padding-left: 20px; */
    padding: 50px 20px;
    padding-bottom: 100px;
}

.ip-address {
    display: flex;
    gap: 10px;
}

.ip-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    display: flex;
    gap: 10px;
}

.info-head {
    font-family: Inter;
    font-size: 34px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
}

.info-detail {
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.location {
    padding: 60px 0px;
    background: #575A85;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.location-header {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: #B8BCCC;
}

.more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding: 40px 40px;
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #B8BCCC80;
    gap: 40px;
}

.more-info-head {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;

}

.more-info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.more-info-item-head {
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: #B8BCCC80;

    /* border: 1px solid red; */
}

.more-info-item-content {
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.more-info-content {
    align-self: flex-start;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-offices {
    padding-top: 50px;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post-offices-head {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: #B8BCCC;
}

.search-bar {
    border: 3px solid #575A85;
    height: 30px;
    display: flex;
    gap: 20px;
    margin: 0px 30px;
    align-items: center;
    padding: 15px 15px;
    border-radius: 10px;
}

.search-bar>input {
    font-size: 25px;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    outline: none;
    border: none;
}

.post-offices-content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 100px 70px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #575A85;
    gap: 20px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #B8BCCC;
    width: 550px;
    border-radius: 10px;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-info-content {
    display: flex;
    flex-wrap: wrap;
}